* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECF2FF;
    overflow-x: hidden;
}

/* set colors */
:root {
    --color-1: #ECF2FF;
    --color-2: #3E54AC;
    --color-3: #655DBB;
    --color-4: #BFACE2;
    --color-5: rgba(0, 0, 0, 0.7);
}

/* set background for body */
/* user the class of fixed height to prevent the auto assign from the swal */
html body.fixed-height,
body.swal2-height-auto {
    background-color: var(--color-1);
    height: 100vh !important;
}


/* navBar Class for head*/
.navBar {
    background-color: rgba(255, 255,255, 0.7);
    display: flex;
    /* overflow: hidden; */
    align-items: center;
    height: 70px;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
    z-index: 100;
    transition: all 500ms;
}

.red {
    color: red
}

.green {
    color: green;
}

.pages {
    display: flex;
    gap: 10px;
    width: 50%;
    /* color: var(--color-1); */
    justify-content: center;
}

.user {
    text-align: center;
    /* padding: 20px; */
    display: grid;
    grid-template-areas: 
    "imgArea nameArea"
    "imgArea settingsArea ";
    padding: 15px;
}
.userImage
{
    text-align: center;
    grid-area: imgArea;
    height: 70px;
    width: 70px ;
    object-fit: cover;
}
.userImage img {
    height: 50px !important;
    padding:10px !important;
    object-fit: cover;
}
.settingsArea {
    align-self: center;
    grid-area: settingsArea;
}
/* .nameArea
{
    grid-area: nameArea;
} */
/* img in head */
.navBar img {
    height: 50%;
    padding: 30px;

}

/* a in head navbar */
.navBar a
 {
    text-align: center;
    color: var(--color-5);
    font-weight: bold;
    text-decoration: none;
    font-size: 120%;
    padding: 10px;
}

/* hover
.navBar a:hover {
    color: var(--color-4);
} */

/* search style */
.searchSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-1);
}
#settings {
    cursor: pointer;
}
.settingList {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    width: 110%;
    text-align: center;
    display: none;
    background-color:#f65b5b ;
    cursor: pointer;
}
.settingOption {
    padding: 10px;
}
.settingOption:hover,.navBar a:hover {
    background-color: white;
    color: var(--color-3);
}
/*the show buttons*/
.searchFilter input[type="button"],
.searchFilter button {
    background-color: var(--color-4);
    border-style: none;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

/*The text fileds for the show*/
.searchFilter input[type="text"] {
    border-style: none;
    border-radius: 15px;
    height: 20px;
    padding: 5px;
    max-width: 200px;
}

/* define style for searches */
.searchFilter {
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
    color: var(--color-5);
}

/*the pop message style */
#messageBox {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    box-shadow: inset 0 0 10px 0 black;
    padding: 20px;
}

/*The header of the pages the main one*/
#mainHeader {
    /* position: relative; */
    width: 100%;
    height: 35vh;
    background-image: url("../Data/image/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*calss to show background after scrolling */
.scrolled {
    background-color: #d8e0e3;
    position: fixed;
    top: 0px;
}
#pagesBar {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    display: none;
    background-color: #BFACE2;
}
/* #pagesBar:hover {
    margin: 10px;
    padding: 10px;
    display: none;
    background-color: black;
    color: #BFACE2;
} */


/*response of the mobile*/
@media (max-width:412px) {
    /* .pages {
        visibility: hidden;
    } */
    .searchFilter {
        flex-direction: column;
        height: fit-content;
        padding: 5px;
    }
}
@media (max-width:730px) {
    .navBar {
        background-color: var(--color-1);
    }
    .navBar img {
        display: none;
    }
    .userImage img {
       display: block;
    }
    #pagesBar {
        display: block;
    }
    .pages {
        position: absolute;
        transform: translate(-50%);
        left: 50%;
        width: 110%;
        text-align: center;
        background-color: #f65b5b;
        flex-direction: column;
    }
}
@media (min-width:730px) {
    .pages {
        visibility: visible !important;
        display: flex !important;
    }
    .settingList {
        width: 230px !important;
        transform: unset;
        left: unset;
        margin-top: 8px;
        transform: translateX(-70px);
    }
}

/* style for button welcome user */
.user button {
    background-color: #fff;
    color: var(--color-5);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

/* hover style for button welcome user */

.user button:hover {
    background-color: #ddd;
    color: red
}

.user p {
    align-self: center;
    width: 100%;
    grid-area: nameArea;
    color: #f65b5b;
}

.UserUpdateContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px;
}


/* Style the dropdown button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.avatars {
    grid-template-columns: 1fr 1fr;
}
.avatars img {
    width: 100%;
}